.jumbotron {
  background-image:url("imgs/lampe.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.Anhang{
  background-color: #f7f7f7;
}

.Anhang h3 {
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  color: #333333;
}

.Anhang a {
  color: #00b0ff;
}

.Allgemeines h2 {
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  color: #333333;
}

.Allgemeines h3 {
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  font-size:100%;
  color: #333333;
}

.Allgemeines{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.Allgemeines h2{
    color: #393c3d;
}

.Allgemeines p{
    font-size: 15px;
    margin-bottom: 13px;
}


body { padding-top: 70px; }
